
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <h1>Yes. He was fired on Nov 12th</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Is Butch jones Fired yet -->
						<ins class="adsbygoogle"
								 style="display:block"
								 data-ad-client="ca-pub-7556650949610181"
								 data-ad-slot="3493596188"
								 data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
